In [1]:
ls

datas/                      real_estate_forecast.ipynb

In [2]:
cd datas

/Users/ijiyeong/regression_analysis/datas

In [3]:
ls

day_care_center.csv  submission.csv       train.csv
park.csv             test.csv

In [ ]:
from sklearn import linear_model
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
train = pd.read_csv('train.csv')
train.head(1)

In [ ]:
train["dong"].count()

In [ ]:
df = pd.DataFrame(train, columns=['dong'])
df

In [11]:
day_care_center = pd.read_csv('./day_care_center.csv')
day_care_center.head(1)

,city,gu,day_care_name,day_care_type,day_care_baby_num,teacher_num,nursing_room_num,playground_num,CCTV_num,is_commuting_vehicle,reference_date
0,서울특별시,서대문구,가람어린이집,국공립,70,11.0,5.0,1.0,7.0,N,2018-07-31

In [13]:
park = pd.read_csv('./park.csv')
park.head(1)

,city,gu,dong,park_name,park_type,park_area,park_exercise_facility,park_entertainment_facility,park_benefit_facility,park_cultural_facitiy,park_facility_other,park_open_year,reference_date
0,부산광역시,남구,대연동,대연공원,근린공원,55227.0,NaN,NaN,NaN,NaN,NaN,1944.0,2018-08-14